# Ignore model and pipeline files
Titanic_Survival_Predictor.pkl
pipeline.pkl

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
projenv/

# Ignore environment files
.env

# Ignore logs and output files
*.log
*.out
